@charset "UTF-8";

body {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  width: 400px;
  height: 400px;
  border-collapse: collapse; /* tira o espaço entre as células*/
  
}

td {
  border: 1px solid black;
  padding: 8px;
  text-align: center; /* alinhamento horizontal*/
  vertical-align: top; /* alinhamento vertical. Obs. para alinhar no meio verticalmente não é usado o center e sim midlle.*/
}

.numero {
  text-align: right;
}