
body {
  height: 96vh;/* vh refere-se a altura da viewport*/
  border: 1px dashed black;
  background-image: url('https://gustavoguanabara.github.io/html-css/imagens/mascote.png');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  ; /* o primeiro refere-se a coluna e o segundo refere-se a linha*/
}