/* Em html o position é relative por padrão na caixa que está contendo. Na caixa do conteúdo o position é absolute. A partir do momento em que se coloca o position absolute em um elemento, você consegue configurar duas propriedades importantes: o left e top*/
#container {
  background-image: url('imagens/target001.png');
  background-size: 100% 100%;
  position: relative;
  height: 90vh;
  padding: 10px;
  background-color: purple;
}

#conteudo {
  background-image: url('imagens/target001.png');
  background-size: 100% 100%;
  position: absolute;
  height: 200px;
  width: 400px;
  background-color: yellow;
  margin: auto;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);/* Permite posicionar a caixa em qualquer lugar dentro do container, usando valores em px ou em %*/
}