@charset "UTF-8";

/*Estilo para impressoras*/

* {
  margin: 10px;
  padding: 10px;
}

html {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  line-height: 1.5em;
}

menu {
  display: none; /*o display none é usado para a área que não será imprimida*/
}

article {
  width: 100%;
}

/*abaixo lê-se depois do artigo*/
article::after {
  content: 'Esse artigo foi impresso através do site www.cursoemvideo.com';
}